apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nodeapp
      color: blue
  template:
    metadata:
      name: nodeapp
      labels:
        name: nodeapp
        color: blue
    spec:
      containers:
        - name: nodeapp
          image: mniranjanr7/nodeapp:${IMAGE_ID}
          ports:
            - name: http
              containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nodeapp-svc
spec:
  type: NodePort
  selector:
    name: nodeapp
    color: ${DEPLOY_STRATEGY}
  ports:
    - port: 80
      targetPort: 3000
