apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nodeapp
  template:
    metadata:
      name: nodeapp
      labels:
        name: nodeapp
    spec:
      containers:
        - name: nodeapp
          image: mniranjanr7/nodeapp:adjfaposifdjapd
          ports:
            - name: http
              containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nodeapp-svc
spec:
  type: Nodeport
  selector:
    name: nodeapp
  ports:
    - port: 80
      targetPort: 3000
