name: k8s-deployments
on:
  workflow_call:
jobs:
  Deploy-to-kubernetes:
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Configure Kubectl
        run: |
          mkdir -p ~/.kube
          # Decodes your secret and saves it as the config file
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > ~/.kube/config
          # Restrict permissions (standard K8s security practice)
          chmod 600 ~/.kube/config

      # - name: Connect to Kubernetes
      #   uses: azure/k8s-set-context@v3
      #   with:
      #     method: kubeconfig
      #     kubeconfig: ${{ secrets.KUBECONFIG_DATA }}

      - name: check the cluster connectivity
        run: |
          kubectl get nodes --insecure-skip-tls-verify
