name: k8s-deployments
on:
  workflow_call:
    inputs:
      image_version:
        type: string
        required: true
      deploy_strategy:
        type: string
        required: true
      environment:
        type: string
        required: true
    secrets:
      KUBECONFIG_DATA:
        required: true
jobs:
  Deploy-to-kubernetes:
    runs-on: ubuntu-latest
    environment: "${{ inputs.environment }}"
    steps:
      # Checkout the repository
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          repository: mniranjanr7/k8s-deployments
          path: k8s-infra

      # setup kubectl in the runner
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Connect to Kubernetes
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG_DATA }}

      - name: check the cluster connectivity
        run: |
          kubectl get nodes --insecure-skip-tls-verify

      # verfiy the environments to apply the files related to the env
      - name: check environments
        run: |
          ENVIRONMENT="${{inputs.environment}}"
          if [ "$ENVIRONMENT" == "dev" ]; then
            TEMPLATE="nodeapp-dev.yaml"
          elif [ "$ENVIRONMENT" == "test" ]; then
              TEMPLATE=nodeapp-test.yaml
          elif [ "$ENVIRONMENT" == "prod" ]; then
            TEMPLATE=nodeapp-prod.yaml
          else
            echo "the environment is: $ENVIRONMENT which is not supported"
            exit 1
          fi
          echo "TEMPLATE=$TEMPLATE" >> $GITHUB_ENV
          echo "Using template: $TEMPLATE"
      # update the image Tag in the manifests file.
      - name: update the image tag
        run: |
          pwd
          echo "list files"
          ls -lthr
          export IMAGE_ID=${{inputs.image_version}}
          export DEPLOY_STRATEGY=${{inputs.deploy_strategy}}

          echo "Print docker imaage tag: $IMAGE_ID"
          echo "Print k8s deployment strategy: $DEPLOY_STRATEGY"

          # sed -i "s|image: .*:.*|image: mniranjanr7/nodeapp:${{ inputs.image_version }}|g" k8s-infra/manifests/nodeapp.yaml

          envsubst < k8s-infra/manifests/$TEMPLATE > k8s-infra/manifests/final-nodeapp.yaml

          # verfiy if the image tag is updated in the final-nodeapp.yml
          grep image k8s-infra/manifests/final-nodeapp.yaml

      # This step run the deployment files
      - name: Run the k8s-manifests files
        run: |
          kubectl apply -f k8s-infra/manifests/final-nodeapp.yaml
